<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/dsbrd.css">
  </head>
  <body class="vod">
    <div class="wrapper">
      <div class="news-panel">
        <h1 class="kek">BULLETIN - UPDATES</h1>
        <!--<textarea class="textarea"></textarea>-->
        <div class="updates">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <button type="button" name="button" class="btn-update">UPDATE</button>
        <hr class="sep-line">
      </div>
        <h1 class="kek">SUMMARY</h1>
      <div class="ovrview-panel">
          <div class="" id="1">
            <p>BALLPEN</p>
            <p>Total items on stock: </p>
            <p>#</p>
          </div>
          </article>
          <div class="" id="2">
            <p>PENCIL</p>
            <p>Total items on stock: </p>
            <p>#</p>
          </div>
          <div class="" id="3">
            <p>NOTES</p>
            <p>Total items on stock: </p>
            <p>#</p>
          </div>
          <div class="haha
          " id="4">
            <p>SHOES</p>
            <p>Total items on stock: </p>
            <p>#</p>
          </div>
          <div class="">
            <p>BOND PAPER</p>
            <p>Total items on stock: </p>
            <p>#</p>
          </div>
          <div class="">
            <p>EREASER</p>
            <p>Total items on stock: </p>
            <p>#</p>
          </div>
      </div>
      <!--1-->
      <article class="oor" id="form" onclick="Insert()">
        <form class="show" action="#" method="post" >
          <p>TESTs</p>
          <input type="text" name="" value="">
          <p>2</p>
          <input type="text" name="" value="">
          <p>usr</p>
          <input type="text" name="" value="">
          <button type="button" name="button" onclick="hide()">type</button>
        </form>
        <!--2-->
        <article class="oor" id="form2">
          <form class="show" action="#" method="post" >
            <p>SAMPLE</p>
            <input type="text" name="" value="">
            <p>2</p>
            <input type="text" name="" value="">
            <p>usr</p>
            <input type="text" name="" value="">
            <button type="button" name="button" onclick="hide()">type</button>
          </form>
          <!--3-->
          <article class="oor" id="form3">
            <form class="show" action="#" method="post" >
              <p>WEEE</p>
              <input type="text" name="" value="">
              <p>2</p>
              <input type="text" name="" value="">
              <p>usr</p>
              <input type="text" name="" value="">
              <button type="button" name="button" onclick="hide()">type</button>
            </form>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/db.js"></script>
  </body>
</html>
