<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IMS</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="/css/master.css">
  </head>
<body>
  <div class="wrapper">
      <div class="sidebar-panel">
        <p class="sdbr-title">VERITAS Inventory Management System</p>
        <hr>
        <div class="tab-panel">
          <ul class="tabs">
            <li><a class="links active" href="dashboard.html" target="main-panel">Dashboard</a></li>
            <li><a class="links" href="suppliers.html" target="main-panel">Supplier</a></li>
            <li><a class="links" href="#">Products</a></li>
            <li><a class="links" href="#">meme</a></li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <iframe src="dashboard" name="main-panel" class="frame"></iframe>
      </div>
    </div><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
