* {
  padding: 0;
  margin: 0;
}
.vod { background-color: rgba(236,240,241 , .3); }
/*NEWS PANEL*/

/*KEYFRAMES*/
@keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:200; opacity:1}
}
@media only screen and (max-width: 720px) {
  .ovrview-panel { grid-template-columns: 2fr 2fr; }
}

@media only screen and (max-width: 420px) {
  .ovrview-panel { grid-template-columns: 1fr; }
}
