.news-panel { display: grid; }
.kek {
  margin-top: 10px;
  margin-left: 1em;
  margin-bottom: 10px;
  font-family: helvetica;
  grid-column: 1 / 6;
}
.updates {
  height: 8em;
  grid-column: 1 / 6;
  margin: 0px 50px;
  background-color: rgba(236,240,241 , .5);
  border-radius: 10px;
  box-shadow: 0px .5px 5px 0px #2c3e50;
  color: #2c3e50;
  overflow: auto;
}
.updates p {
  margin: 10px 20px;
}
.btn-update {
  padding: 10px;
  margin: 15px 50px;
  grid-column: 5 / 6;
  font-family: helvetica;
  box-shadow: 0px .5px 2px 0px #2c3e50;
  border: none;
  border-radius: 5px;
}
.btn-update:hover { cursor: pointer; }
.modal-header {
  text-align: center;
  color: #ecf0f1;
  background-color: #25476a;
}
.sep-line {
  grid-column: 1 / 6;
  margin: 10px 50px;
  border-color: rgba(44,62,80 , .5  );
  -moz-border-color: rgba(44,62,80 , .5  );
  -webkit-border-color: rgba(44,62,80 , .5  );
}
/*OVERVIEW PANEL*/
.ovrview-panel {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 2em;
  margin: 0px 20px;
}
.ovrview-panel div {
  background-color: rgba(236,240,241 , .5);
  box-shadow: 0px .5px 5px 0px #2c3e50;
  padding: 1em;
  border-radius: 5px;
  display: grid;
  transition: all ease .5s;
}
.ovrview-panel div:hover {
  transform: scale(1.01);
  transition: all ease .5s;
}
.shadow {
  background-color: rgba(44,62,80 , .5);
}
.ovrview-panel div p {
  font-size: 10px;
  font-family: helvetica;
  margin: 15px 5px 0px 5px;
}
.ovrview-panel div p:nth-child(1) {
  font-style: bold;
  text-decoration: underline;
  font-size: 1.5em;
}
.ovrview-panel div p:nth-child(2) {
  font-size: 1em;
  grid-column: 1/4;
}
.ovrview-panel div p:nth-child(3) {
  font-size: 1em;
  grid-column: 5/6;
}
.status-good { color: #00ff00!important; }
.status-warning { color: #ffff00!important; }
.status-good { color: #ff0000!important; }
.oor {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-color: rgba(44,62,80 , 0.4);
}
.show {
    width:300px;
    margin: 100px auto;
    padding:15px;
    text-align:center;
    background-color: rgba(236,240,241 , 1);
    border-radius: 10px;
    box-shadow: 0px .5px 5px 0px #2c3e50;
    color: #2c3e50;
}
.more {
    animation-name: animatetop;
    animation-duration: 0.25s;
    visibility: visible!important;
}
.rem {
  display: none!important;
}

@media only screen and (max-width: 720px) {
  .ovrview-panel { grid-template-columns: 2fr 2fr; }
}

@media only screen and (max-width: 420px) {
  .ovrview-panel { grid-template-columns: 1fr; }
}
