* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
.Swrapper { display: grid; }
.search-bar { margin: 2em auto; }
.input-search {
  border: 1px solid rgba(44,62,80 , .5);
  border-radius: 2px;
  height: 2em;
  padding-left: 10px;
}
.btn-search {
  padding: 6px;
  grid-column: 5 / 6;
  color: #ecf0f1;
  background-color: #2c3e50;
  box-shadow: 0px .5px 2px 0px #2c3e50;
  border: none;
  border-radius: 5px;
}
.btn-add {
  padding: 6px;
  grid-column: 5 / 6;
  color: #ecf0f1;
  background-color: #144b83;
  box-shadow: 0px .5px 2px 0px #2c3e50;
  border: none;
  border-radius: 5px;
}
.modal-content {
  width: 70%;
  margin: 0 auto;
 }
 .modal-header {
   text-align: center;
   color: #ecf0f1;
   background-color: #25476a;
 }
.btn-add:hover, .btn-search:hover { cursor: pointer; }
.form-group { display: block; }
.prdct-type {
  border: 1px solid rgba(44,62,80 , .5);
  border: 1;
  border-radius: 2px;
  padding: 6px;
}
.prdct-artcle-input:nth-child(n+2) {
  margin-top: 10px;
  width: 100%;
}
.frm-add-prdctType {
  display: none;
  margin-top: 10px;
}
